node_modules/
.DS_Store
dist
*-dist
.cache
pnpm-lock.yaml
.history


.turbo
.local
# local env files
.env.local
.env.*.local
.eslintcache

# 忽略 .vitepress 目录下的 dist 文件夹
docs/.vitepress/dist

# Log files
npm-debug.log*
yarn-debug.log*
yarn-error.log*
.pnpm-debug.log*

# Editor directories and files
.idea
.vscode
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
!/pnpm-lock.yaml
!/.gitignore
# apps/admin/mock/
cache
